<div class="col-lg-6">
    <div class="card shadow my-4">
            <h4 class="card-title mx-2 my-2"><%= @project.name %> - Built with: <%= @project.built_with %> </h4>
            <div class="card-body mx-2 my-2">
                <p class="lead">Description:<%= truncate(@project.description, length: 50) %></p>
                <p class="lead">Visit page: <%= @project.url %></p>
                <p class="lead">Price: <%= @project.price %></p>
            </div>
    </div>
</div>

<div class="col-lg-6">
    <div class="card shadow my-4">
            <h4 class="card-title mx-2 my-2"><%= @owner.username %></h4>
            <div class="card-body mx-2 my-2">
                <p class="lead">Contact information: <%= @owner.email %></p>
            </div>
    </div>
</div>