<div class="col-lg-6">
    <div class="card shadow my-4">
            <h4 class="card-title mx-2 my-2"><%= @project.name %> - Built with: <%= @project.built_with %> </h4>
            <div class="card-body mx-2 my-2">
                <p class="lead">Description:<%= truncate(@project.description, length: 50) %></p>
                <p class="lead">Visit page: <%= @project.url %></p>
                <p class="lead">Price: <%= @project.price %></p>
            </div>
            <%= form_with(model: @order, scope: :order, url: orders_path(@project)) do |form| %>
                <%= form.hidden_field :client_id, value: @project.owner_id %>
                <%= form.hidden_field :project_id, value: @project.id %>
                <%= form.hidden_field :value, value: @project.price %>
                <%= form.submit 'BUY', class: "btn btn-primary btn-lg mt-3" %>
            <% end %>
    </div>
</div>

<div class="col-lg-6">
    <div class="card shadow my-4">
            <h4 class="card-title mx-2 my-2"><%= @owner.username %></h4>
            <div class="card-body mx-2 my-2">
                <p class="lead">Contact information: <%= @owner.email %></p>
            </div>
    </div>
</div>