<div class="col-lg-6">
    <div class="card shadow my-4">
            <h4 class="card-title mx-2 my-2"><%= @project.name %> - Built with: <%= @project.built_with %> </h4>
            <div class="card-body mx-2 my-2">
                <p class="lead">Description:<%= truncate(@project.description, length: 50) %></p>
                <p class="lead">Visit page: <%= @project.url %></p>
                <p class="lead">Price: <%= @project.price %></p>
            </div>
    </div>
</div>

<div class="col-lg-6">
    <div class="card shadow my-4">
            <h4 class="card-title mx-2 my-2"><%= @owner.username %></h4>
            <div class="card-body mx-2 my-2">
                <p class="lead">Contact information: <%= @owner.email %></p>
            </div>
    </div>
</div>

<div class="col-lg-6">

            <h4 class="mt-4 mb-3">Card Details</h4>

             <%= form_with(model: @order, scope: :order, url: orders_path(@project)) do |form| %>
                <%= form.hidden_field :client_id, value: @project.owner_id %>
                <%= form.hidden_field :project_id, value: @project.id %>
                <%= form.hidden_field :value, value: @project.price %>
        
            <div class="form-group"> 
                <%= form.label :fullname, class: "mb-2 mt-2" %>
                <%= form.text_field :fullname, class: "form-control", required: true %>
            </div>

            <div class="form-group"> 
                <%= form.label :email, class: "mb-2 mt-2" %>
                <%= form.text_field :email, class: "form-control", required: true %>
            </div>



            <div class="form-group"> 
                <%= form.label :card_number, class: "mb-2 mt-2" %>
                <%= form.text_field :card_number, class: "form-control", required: true %>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group"> 
                        <%= form.label :cvv, class: "mb-2 mt-2" %>
                        <%= form.text_field :cvv, class: "form-control", required: true, maxlength: 4 %>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group"> 
                        <%= form.label :exp_month, class: "mb-2 mt-2" %>
                        <%= form.number_field :exp_month, class: "form-control", required: true, min: 1, max:12 %>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group"> 
                        <%= form.label :exp_year, class: "mb-2 mt-2" %>
                        <%= form.number_field :exp_year, class: "form-control", required: true, min: 2022, max: 2040 %>
                    </div>
                </div>
            </div>

            <div class="d-grid gap-2">
                <%= form.submit "BUY",class:"btn btn-outline-danger btn-lg mt-3" %>
            </div>
            <% end %>
</div>